<nav>
  <h1>Power Theft</h1>
</nav>

<div class="container">
  <div class="content-left">
    <div class="cl">
      <div class="card bg-temp">
        <div class="content">
          <h1>250</h1>
          <h3>Watts</h3>
          <h2>Meter 1</h2>
        </div>
      </div>
    </div>
    <div class="cr">
      <div class="card bg-temp">
        <div class="content">
          <h1>300</h1>
          <h3>Watts</h3>
          <h2>Meter 2</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content-right">
    <div class="card bg-temp p-card">
      <div class="container-switch">
        <h1>Power Cut</h1>
        <span class="off">OFF</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        <span class="on">ON</span>
      </div>
      <form>
        <input type="text" class="form-control" placeholder="Power cut offset">
        <div class="btn">
          <button class="btn-danger" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>